*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
  color: #e3e3e3; 
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Layout */
  /* Css responsive */
    .tablet{
      display: none;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }
    
  /* Buttons */
    button{
      cursor: pointer;
    }

    .big-btn{
      padding: 12px 30px;
    }

/*<---->*/

/* Side-bar */
 aside{
    background-color: black;
    width: 40px; 
    height: calc(100vh - 80px);
    position: fixed;
  } 

 aside .smartphone{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

 aside .smartphone img{
    width: 25px;
  }

  .side-header,
  .side-footer{
    width: 30px;
    margin: 0 auto;
  }

  .logo-container{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
  }

  .icon-container img,
  .icon-container i{
    filter: invert(0.5);
  }

  .active{
    filter: invert(0) !important;
  }

  .download-icon{
    width: 35px !important;
  }

/* Main */
  main{
    width: calc(100vw - 40px); 
    height: calc(100vh - 80px);
    margin-left: 40px;
    background-color: rgb(20,25,34);
    overflow-y: scroll;
  }

  /* Top-bar */
    #top-bar{
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: inherit;
      position: fixed;
      background-color: rgba(9,11,18,0.5);
      height: 70px;
    }

    #top-bar button{
      margin-right: 5px;
      border-radius: 20px;
      font-weight: 600;
      border: 1px solid #cbcbcc;
      background-color: transparent;
    }
/*<---->*/

/* Footer */
footer{
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: rgb(40, 40, 40);
}
/*<----> */

/* Media */

  /* Tablet */
  @media all and (min-width: 500px) {
    .smartphone{
      display: none !important;
    }

    .tablet{
      height: 100%;
      display: flex;
    }

    /* Side Bar*/
    aside{
      width: 140px;
    }

    aside img{
      width: 20px;
    }

    aside span{
      font-size: 11px;
    }

    aside li,
    aside span{
      color: gray;
    }

    aside span:hover{
      color: white;
    }

    /* side header*/
    aside .side-header,
    aside .side-footer{
      width: auto;
      margin-left: 10px;
    }

    aside .logo-container{
      height: 70px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      column-gap: 5px;
      cursor: pointer;
    }
     
    aside .logo-container img{
      width: 100px;
    }
    
    aside .logo-container span{
      font-size: 25px;
      font-weight: 500;
    } 
    
    aside .icon-container{
      cursor: pointer;
      flex-direction: row;
      column-gap: 5px;
    }

    aside .create-playlist:hover{
      filter: invert(0);
    }

      @media all and (hover: hover) {
          aside .icon-container:hover img{
            filter: invert(0);
          }

          aside .icon-container:hover i{
            filter: invert(0);
          }

          aside .icon-container:hover span{
            color: white;
          }
      }

    aside ul{
      height: calc(40vh - 80px);
      overflow-y: auto;
      line-height: 30px;
    }

    aside li{
      cursor: pointer;
      list-style-type: none;
      font-size: 12px;
    }

    aside li:hover{
      color: white;
    }

    /* side footer */
    aside .side-footer{
      display: flex;
      flex-direction: column;
      width: 80%;
    }

    /* Main */
    main{
      width: calc(100vw - 140px);
      margin-left: 140px;
    }
    
  }

  /* Small Desktop */
  @media all and (min-width: 768px) {
    
  }

  /* Medium Desktop */
  @media all and (min-width: 992px) {
    
  }

  /* Large Desktop */
  @media all and (min-width: 1200px) {
    
  }

/* Utils */
  /* Display */
  .flex{
    display: flex;
  }
  
  .flex-center{
    align-items: center;
    justify-content: center;
  }

  .flex-align-center{
    align-items: center;
  } 

  .flex-jc-center{
    justify-content: center;
  }

  .flex-column{
    flex-direction: column;
  }

  .row-gap-5{
    row-gap: 5px;
  }

  .row-gap-8{
    row-gap: 8px;
  }

  /* Sizes */
  .size-sm{
    width: 25px;
    height: 25px;
  }

  /* Margin */
  .mt-10{
    margin-top: 20px;
  }

  .ml-18{
    margin-left: 18px;
  }

  .ml-20{
    margin-left: 20px;
  }

  .mr-20{
    margin-right: 20px;
  }

  .ml-5{
    margin-left: 5px;
  }

  .mb-5{
    margin-bottom: 5px;
  }

  /* Text */
    /* Font */
    .fs-md-1{
      font-size: 13px;
    }
    
    .fs-md{
      font-size: 14px;
    }
    
    .fs-lg{
      font-size: 25px;
    }

    .fs-xl{
      font-size: 35px;
    }

    .fw-600{
      font-weight: 600;
    }

    .fw-700{
      font-weight: 700;
    }

    /* color*/
    .text-white{
      color: white;
    }
  
  /* Border */
    .border-round{
      border-radius: 100%;
    }
  
  /* Filter */
    .invert-1{
      filter: invert(1) !important;
    }

    .invert-0{
      filter: invert(0) !important;
    }

  /* Cursor */
  .cursor-pointer{
   cursor: pointer;
  }

  /* Background */
  .bg-gray{
    background-color: gray;
  }

  /* Hr */
  .gray-line{
    border: none;
    border-top: 1px solid gray;
  }